.itemCard {
  border-radius: 19px;
  padding-top: 16px;
  height: 328px;
  width: 328px;
  background-size: contain;
}

.itemCard__title-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemCard__title-container {
  margin-bottom: 0;
  width: fit-content;
  height: 24px;
  background: #ffffff;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemCard__title {
  height: 24px;
  margin: 0;
  line-height: 20px;
  font-size: 16px;
  vertical-align: middle;
  margin-top: 5px;
}

.itemCard__like-button {
  all: unset;
  outline: none;
  background-image: url("../../images/heart_unfilled.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 18px;
  height: 15px;
  cursor: pointer;
  margin-left: 10px;
}

.itemCard__like-button_liked {
  all: unset;
  outline: none;
  background-image: url("../../images/heart_filled.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 18px;
  height: 15px;
  cursor: pointer;
  margin-left: 10px;
}
