.weatherCard {
  max-width: 1360px;
  background: url("/Users/samuelhudson/Desktop/Practicum/se_project_react/public/images/WeatherCardBG.png")
    no-repeat;
  background-size: 100%;
  background-color: #00a3ff;
  height: 80px;
  border-radius: 12px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.weatherCard__temp {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 16px;
  font-family: "Cabinet Grotesk Bold", Courier, monospace;
  font-size: 36px;
  line-height: 1.2;
  color: #ffffff;
  align-self: center;
}

@media (max-width: 1440px) {
  .weatherCard {
    background: none;
    background-color: #00a3ff;
  }
}
