@font-face {
  src: url("./fonts/CabinetGrotesk-Bold.woff") format("woff");
  font-family: "Cabinet Grotesk Bold";
}

@font-face {
  src: url("./fonts/CabinetGrotesk-Medium.woff") format("woff");
  font-family: "Cabinet Grotesk Medium";
}

p {
  font-family: "Cabinet Grotesk Bold";
}

html {
  background-color: #f3f3f3;
}
